@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: none !important;
}
.leaflet-control-zoom-in{
   border-radius: 50% !important;
   width: 40px !important;
   height: 40px !important;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
   margin-top: 10px !important;
   margin-bottom: 10px !important;
}
.leaflet-control-zoom-out{
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #009579 !important;
    border-color: #009579 !important;
  }

.ant-btn-primary {
    background-color: red;
}

.leaflet-popup-content-wrapper{
    background-color: transparent !important;
    box-shadow:  none !important;
}

.leaflet-container a.leaflet-popup-close-button{
    visibility:  hidden !important;
}
.leaflet-popup-content p{
    margin: 5px 0 !important;
}

.rce-container-mbox{
    min-width: 0 !important;
}

.leaflet-draw-draw-polygon{
    border-radius: 50% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;  
}

.leaflet-draw-edit-edit{
    border-radius: 50% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;  
    margin-bottom: 10px;
    cursor: pointer  !important;
}

.leaflet-draw-edit-remove{
    border-radius: 50% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;  
    cursor: pointer  !important;
}

.ant-checkbox-wrapper{
    margin: 5px 0 !important;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    background-color: #9EBB27 !important ;
    border-color: #9EBB27 !important;
}

.ant-collapse{
    background-color: transparent !important;
    border: none !important;
}